﻿.activeOrderListing {
    background-color: #ffffff;
    width: auto;
    height: 500px;
    max-height: 500px;
    vertical-align:middle;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    border: 3px solid black;
    border-radius: 5px;
}

.googleMap {
    display:inline-block;
    width:100%;
    height:500px;
    border: 3px solid black;
    border-radius: 5px;
}
