﻿.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border: 2px dashed black;
    padding: 5px;
}

#loadingSpinner {
    background: #ffffff;
    opacity: 0.8;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
}

@media screen and (max-width: 991px) {
    .middle {
        font-size: 69px;
    }

    .btn-primary {
        font-size: 0.6em !important;
    }

    .pac-item {
        font-size: 2.2em !important;
        padding: 15px 4px 15px !important;
    }

    .pac-item-query {
        font-size: 1.2em !important;
    }
}
